<mat-card>
    <mat-card-content>
        <form (ngSubmit)="envioPrevioRegistro($event)" [formGroup]="formulario"
            *ngIf="props.uid && props.method != 'phone'" novalidate>
            <h2>Es necesario que se registre.</h2>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Correo Eletrónico</mat-label>
                <input matInput formControlName="correo" type="email" placeholder="Ej. email@dominio.com">
                <mat-error *ngIf="errorHandling('correo', 'required')">
                    Por favor introduce un correo.
                </mat-error>
                <mat-error *ngIf="errorHandling('correo', 'email')">
                    Por favor introduce un correo válido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Nombre de la empresa para la que trabaja.</mat-label>
                <input matInput formControlName="trabajo" type="text"
                    placeholder="Introduce el nombre de la empresa para la que trabajas.">
                <mat-error *ngIf="errorHandling('trabajo', 'required')">
                    Por favor, introduce el nombre de tu empresa.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Nombre (s)</mat-label>
                <input matInput formControlName="nombre" type="text" placeholder="Introduce tu (s) nombre (s)">
                <mat-error *ngIf="errorHandling('nombre', 'required')">
                    Por favor introduce tu nombre.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Apellido (s)</mat-label>
                <input matInput formControlName="apellido" type="text" placeholder="Introduce tu (s) apellido (s)">
                <mat-error *ngIf="errorHandling('apellido', 'required')">
                    Por favor introduce tu apellido.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="nacimiento" type="date" placeholder="Introduce tu fecha de nacimiento">
                <mat-error *ngIf="errorHandling('nacimiento', 'required')">
                    Por favor introduce tu fecha de nacimiento.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono" type="tel" placeholder="Introduce tu teléfono">
                <mat-hint>10 dígitos.</mat-hint>
                <mat-error *ngIf="errorHandling('telefono', 'required')">
                    Por favor introduce tu número de teléfono.
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Terminar
                Registro</button>
        </form>
        <ng-template *ngIf="props.method != 'phone'">
            <form [formGroup]="formulario" (ngSubmit)="envio($event)" novalidate>
                <h2>Regístrese en Wilder</h2>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Correo Eletrónico</mat-label>
                    <input matInput formControlName="correo" type="email" placeholder="Ej. email@dominio.com">
                    <mat-error *ngIf="errorHandling('correo', 'required')">
                        Por favor introduce un correo.
                    </mat-error>
                    <mat-error *ngIf="errorHandling('correo', 'email')">
                        Por favor introduce un correo válido.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="pwd1" type="password" placeholder="Introduzca una contraseña">
                    <mat-hint>
                        - 8 dígitos mínimo.
                        - Combinación de mayúsculas, minúsculas, números y símbolos.
                    </mat-hint>
                    <mat-error *ngIf="errorHandling('pwd1', 'pattern')">
                        Por favor introduce una contraseña válida:
                    </mat-error>
                    <mat-error *ngIf="errorHandling('pwd1', 'required')">
                        Por favor introduce una contraseña.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Confirme Contraseña</mat-label>
                    <input matInput formControlName="pwd2" type="password" placeholder="Confirme su contraseña"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="formulario.hasError('notSame')">
                        <!-- verificar -->
                        Las contraseñas no coinciden.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Nombre de la empresa para la que trabaja.</mat-label>
                    <input matInput formControlName="trabajo" type="text"
                        placeholder="Introduce el nombre de la empresa para la que trabajas.">
                    <mat-error *ngIf="errorHandling('trabajo', 'required')">
                        Por favor, introduce el nombre de tu empresa.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Nombre (s)</mat-label>
                    <input matInput formControlName="nombre" type="text" placeholder="Introduce tu (s) nombre (s)">
                    <mat-error *ngIf="errorHandling('nombre', 'required')">
                        Por favor introduce tu nombre.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Apellido (s)</mat-label>
                    <input matInput formControlName="apellido" type="text" placeholder="Introduce tu (s) apellido (s)">
                    <mat-error *ngIf="errorHandling('apellido', 'required')">
                        Por favor introduce tu apellido.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput formControlName="nacimiento" type="date"
                        placeholder="Introduce tu fecha de nacimiento">
                    <mat-error *ngIf="errorHandling('nacimiento', 'required')">
                        Por favor introduce tu fecha de nacimiento.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" type="tel" placeholder="Introduce tu teléfono">
                    <mat-hint>10 dígitos.</mat-hint>
                    <mat-error *ngIf="errorHandling('telefono', 'required')">
                        Por favor introduce tu número de teléfono.
                    </mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Terminar Registro</button>
            </form>
        </ng-template>
    </mat-card-content>
</mat-card>