<div style="padding: 20px; text-align: center;">
    <h2>Contáctanos:</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Tu nombre completo con apellidos">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Formato: (449) 999 9999">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Introduce tu email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Comentarios adicionales</mat-label>
            <textarea matInput placeholder="Los contacto para..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar</button>
    </form>
</div>