<mat-grid-list cols="6" rowHeight="2:2">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-title>Mi Usuario</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-title>Notas</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-title>Mis Archivos</mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-title>Escanear QR</mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <mat-card>
            <mat-card-title align="center">Agenda</mat-card-title>
            <mat-card-content>
                <app-calendar></app-calendar>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>