.example-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  
.example-full-width {
  width: 100%;
}

.button {
  max-width: 250px;
  max-height: 45px;
}

/*Tarjeta*/
.tarjetas {
  width: 400px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.div-chico {
  width: 120px;
  height: 80px;
}

.div-medio {
  width: 250px;
  height: 80px;
}

.disponible {
  color: #00c000EE;
}

.ocupado {
  color: brown;
}