
<h3 style="text-align: center;">Listado de Activos registrados.</h3>
<mat-grid-list cols="3" rowHeight="60px">
  <mat-grid-tile colspan="1">
    <div *ngIf="user | async as user">
      <button *ngIf="user.tipo === 'admin'" class="button" mat-raised-button [routerLink]="['/requests']"
        color="primary">Ver Solicitudes de Préstamo</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <!-- <mat-grid-tile colspan="1">
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Activo a buscar"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </form>
    </mat-grid-tile> -->
  <mat-grid-tile colspan="1">
    <div *ngIf="user | async as user">
      <button *ngIf="user.tipo === 'admin'" class="button" mat-raised-button [routerLink]="['/activo/0']"
        color="primary">Registrar activo</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--Tarjetas de activos-->
<mat-card class="tarjetas" *ngFor="let activo of activos">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-sm-image src={{activo.qr}} alt="QR">
    </div>
    <div class="div-medio">
      <mat-card-title>{{ activo.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ activo.modelo }}</mat-card-subtitle>
    </div>
    <div class="div-chico">
      <h4 *ngIf="activo.dominio === 'Bodega' else ocupado" class="disponible">Disponible</h4>
      <ng-template #ocupado>
        <h4 class="ocupado">Ocupado</h4>
      </ng-template>
      <button class="button" mat-raised-button color="primary" [routerLink]="['/activo/'+activo.id]">Abrir</button>
    </div>
  </mat-card-header>
</mat-card>