<div style="padding: 20px; text-align: center;">
    <h3>Acerca de</h3>
    <img src="assets/logo.png" alt="">
    <p>Salvajemente Organizados!</p>
    <p>Wilder®, 2020©</p>
    <b>Todos los derechos reservados.</b>
    <p style="text-align: left;">Creadores:</p>
    <mat-list role="list">
        <mat-list-item role="listitem">Jesús Angel Mosqueda Esparza</mat-list-item>
        <mat-list-item role="listitem">Moisés Alejandro Flores Martínez</mat-list-item>
        <mat-list-item role="listitem">Saúl Alejandro Sustaita Jasso</mat-list-item>
        <mat-list-item role="listitem">Carlos Daniel Cañedo García</mat-list-item>
    </mat-list>
</div>