/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'fonts.css';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.calendario {
    width: 500px;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.headers-align  {
    flex-basis: 0;
}

.headers-align {
    justify-content: space-between;
    align-items: center;
}

.headers-align {
    margin-left: 8px;
}

.example-full-width {
    width: 100%;
}

#wrapper{
    padding-bottom: 81px;
    min-height: calc(100% - 81px);
    position: relative;
}

.footer-gris{
    background: rgb(94, 94, 94);
    color: white;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: 181px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 60px;
}

#logo{
    animation: latir infinite 5s linear;
}

@keyframes latir{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.02,1.02);
    }
    55%{
        transform: scale(0.95,0.95);
    }
    100%{
        transform: scale(1,1);
    }
}

/*Estilos de columna del footer*/
.footer-container{
    width: 100%;
    background: rgb(94, 94, 94);
    color: white;
}

.footer-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-main .footer-columna{
    width: calc(100% / 3);
    text-align: center;
}

.footer-main .footer-columna h3{
    font-size: 32px;
    color: #00C6EE;
    margin-bottom: 20px;
}

/*Iconos de Redes sociales*/
.red-social{
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 35px;
    transition: .3s ease all;
    color: #ebfffb;
}

.black-icon {
    color: black;
}

.green-icon {
    color: #ebfffb;
}

mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
}

.full-width-input {
    width: 100%;
}