<div *ngIf="user | async as user">
  <mat-card *ngIf="user.tipo === 'admin' else usuarioNormal" class="example-card">
    <img *ngIf="idActivo === '0' else editarQR" mat-card-image src={{qrDefault}} alt="QR">
    <ng-template #editarQR>
      <img mat-card-image src={{datosActivo.qr}} alt="QR">
    </ng-template>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input name="nombre" [(ngModel)]="datosActivo.nombre" matInput placeholder="Monitor..." required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Modelo</mat-label>
        <input name="modelo" [(ngModel)]="datosActivo.modelo" matInput placeholder="XLR8">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="datosActivo.categoria" name="food" required>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea name="descripcion" [(ngModel)]="datosActivo.descripcion" matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <p><b>Dominio: </b>{{ datosActivo.dominio }}</p>
      <p><b>Fecha: </b>{{ datosActivo.fecha | date:'dd/MM/yyyy' }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="idActivo === '0' else editarBoton">
      <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
      <button (click)="registrarActivo($event, user.trabajo)" mat-raised-button color="primary">REGISTRAR</button>
    </mat-card-actions>
    <ng-template #editarBoton>
      <mat-card-actions>
        <button mat-raised-button color="warn">ELIMINAR</button>
        <button (click)="editarActivo($event, user.trabajo)" mat-raised-button color="accent">EDITAR</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
        <button mat-raised-button color="primary">OBTENER</button>
      </mat-card-actions>
    </ng-template>
  </mat-card>
  <ng-template #usuarioNormal>
    <mat-card class="example-card">
      <img mat-card-image src={{datosActivo.qr}} alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>{{ datosActivo.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ datosActivo.modelo }}</mat-card-subtitle>
        <p><b>Categoría: </b>{{ datosActivo.categoria }}</p>
        <p><b>Descripción: </b>{{ datosActivo.descripcion }}</p>
        <p><b>Dominio: </b>{{ datosActivo.dominio }}</p>
        <p><b>Fecha: </b>{{ datosActivo.fecha | date:'dd/MM/yyyy' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">SOLICITAR</button>
        <button mat-raised-button color="primary">OBTENER</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>