<div *ngIf="user | async as user">
  <form [formGroup]="todoForm" class="example-form">
    <mat-card *ngIf="user.tipo === 'admin' else usuarioNormal" class="example-card">
      <img style="max-width: 250px;" *ngIf="idActivo === '0' else editarQR" mat-card-image src={{qrDefault}} alt="QR">
      <ng-template #editarQR>
        <img style="max-width: 250px;" mat-card-image src={{datosActivo.qr}} alt="QR"><br>
      </ng-template>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input name="nombre" [(ngModel)]="datosActivo.nombre" matInput placeholder="Monitor..."
            formControlName="v_nombre" required>
          <mat-error *ngIf="todoForm.controls['v_nombre'].touched && todoForm.controls['v_nombre'].errors?.required">
            Es necesario proporcionar el Nombre del producto
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Modelo</mat-label>
          <input name="modelo" [(ngModel)]="datosActivo.modelo" matInput placeholder="XLR8" formControlName="v_modelo"
            required>
          <mat-error *ngIf="todoForm.controls['v_modelo'].touched && todoForm.controls['v_modelo'].errors?.required">
            Es necesario proporcionar el Modelo del producto
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="datosActivo.categoria" name="food" formControlName="v_categoria" required>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="todoForm.controls['v_categoria'].touched && todoForm.controls['v_categoria'].errors?.required">
            Es necesario proporcionar el Categoria del producto
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <textarea name="descripcion" [(ngModel)]="datosActivo.descripcion" matInput placeholder="Cuenta con..."
            formControlName="v_descripcion" required></textarea>
          <mat-error
            *ngIf="todoForm.controls['v_descripcion'].touched && todoForm.controls['v_descripcion'].errors?.required">
            Es necesario proporcionar una Descripcion del producto
          </mat-error>
        </mat-form-field>
        <p><b>Dominio: </b>{{ datosActivo.dominio }}</p>
        <p><b>Fecha: </b>{{ datosActivo.fecha | date:'dd/MM/yyyy' }}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="idActivo === '0' else editarBoton">
        <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
        <button (click)="registrarActivo($event, user.trabajo)" mat-raised-button color="primary"
          [disabled]="todoForm.invalid">REGISTRAR</button>
      </mat-card-actions>
      <ng-template #editarBoton>
        <mat-card-actions>
          <button (click)="eliminarActivo($event)" mat-raised-button color="warn">ELIMINAR</button>
          <button (click)="editarActivo($event, user.trabajo)" mat-raised-button color="accent">EDITAR</button>
        </mat-card-actions>
        <mat-card-actions>
          <button [routerLink]="['/mtto/'+this.idActivo+'/']" mat-raised-button color="primary">REGISTRAR
            MTTO</button>
          <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
        </mat-card-actions>
      </ng-template>
    </mat-card>
    <mat-card *ngIf="mantenimientos && mantenimientos.length > 0">
      <mat-card-header>
        <mat-card-title>Historial de Mantenimientos:</mat-card-title>
      </mat-card-header>
      <mat-expansion-panel *ngFor="let obj of mantenimientos; let idx = index" style="width: 100%;">
        <mat-expansion-panel-header>
          <b>{{ (idx+1) + '.' + obj['folio'] }}</b>
        </mat-expansion-panel-header>
        <p *ngIf="obj['usuario'] | async as user">Registrado por: {{ user['nombre'] }}</p>
        <p><b>El día: </b>{{ obj['fecha'] | date:'dd/MM/yyyy' }}</p>
        <p><b>Descripción de los trabajos: </b>{{ obj['descripcion'] }}</p>
        <p><b>Costo: </b>$ {{ obj['costo'] }}</p>
      </mat-expansion-panel>
    </mat-card>
  </form>
  <ng-template #usuarioNormal>
    <mat-card class="example-card">
      <img style="max-width: 250px;" mat-card-image src={{datosActivo.qr}} alt="Photo of a Shiba Inu"><br>
      <mat-card-content>
        <mat-card-title>{{ datosActivo.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ datosActivo.modelo }}</mat-card-subtitle>
        <p><b>Categoría: </b>{{ datosActivo.categoria }}</p>
        <p><b>Descripción: </b>{{ datosActivo.descripcion }}</p>
        <p><b>Dominio: </b>{{ datosActivo.dominio }}</p>
        <p><b>Fecha: </b>{{ datosActivo.fecha | date:'dd/MM/yyyy' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="uid | async as uid" (click)="listaEspera(uid, user.trabajo)"
          [hidden]="datosActivo.dominio != 'Bodega'" mat-raised-button color="primary">SOLICITAR</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/inventario']">REGRESAR</button>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="mantenimientos && mantenimientos.length > 0">
      <mat-card-header>
        <mat-card-title>Historial de Mantenimientos:</mat-card-title>
      </mat-card-header>
      <mat-expansion-panel *ngFor="let obj of mantenimientos; let idx = index" style="width: 100%;">
        <mat-expansion-panel-header>
          <b>{{ (idx+1) + '.' + obj['folio'] }}</b>
        </mat-expansion-panel-header>
        <p *ngIf="obj['usuario'] | async as user"><b>Registrado por: </b>{{ user['nombre'] }}</p>
        <p>El día: {{ obj['fecha'] | date:'dd/MM/yyyy' }}</p>
        <p>Descripción de los trabajos: {{ obj['descripcion'] | date:'dd/MM/yyyy' }}</p>
        <p>Costo: $ {{ obj['costo'] }}</p>
      </mat-expansion-panel>
    </mat-card>
  </ng-template>
</div>