<div *ngIf="user | async as user">
  <mat-card *ngIf="user.tipo === 'admin' else normal" class="example-card">
    <img *ngIf="idActivo === '0' else editarQR" mat-card-image src={{qrDefault}} alt="QR">
    <ng-template #editarQR>
      <img mat-card-image src={{datosActivo.qr}} alt="QR">
    </ng-template>
    <mat-card-actions>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input name="nombre" [(ngModel)]="datosActivo.nombre" matInput placeholder="Monitor..." required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Modelo</mat-label>
        <input name="modelo" [(ngModel)]="datosActivo.modelo" matInput placeholder="XLR8">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="datosActivo.categoria" name="food" required>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea name="descripcion" [(ngModel)]="datosActivo.descripcion" matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </mat-card-actions>
    <mat-card-actions *ngIf="idActivo === '0' else editarBoton">
      <button type="submit" (click)="registrarActivo($event)" mat-raised-button color="primary">REGISTRAR</button>
    </mat-card-actions>
    <ng-template #editarBoton>
      <mat-card-actions>
        <button mat-button>EDITAR</button>
        <button mat-button>ELIMINAR</button>
      </mat-card-actions>
    </ng-template>
  </mat-card>
  <ng-template #normal>
    <mat-card class="example-card">
      <img mat-card-image src={{qrDefault}} alt="Photo of a Shiba Inu">
      <mat-card-header>
        <mat-card-title>LOGITECH</mat-card-title>
        <mat-card-subtitle>G203</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <mat-form-field class="example-full-width">
          <mat-label>id</mat-label>
          <input matInput placeholder="00000" value="68765946">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Monitor" value="LOGITECH G203">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel...">MOUSE ALAMBRICO LOGITECH G203 (NEGRO, USB)</textarea>
        </mat-form-field>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-button>GUARDAR</button>
        <button mat-button>COMPARTIR</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>