#slider {
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 140px;
  width: 100%;
  height: 250px;
  /*line-height: 320px;*/
  color: white;
  text-shadow: 0px 0px 5px #444;

  /*DEGRADADO CSS*/
  background: rgba(78,226,252,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(78,226,252,1) 0%, rgba(78,226,252,1) 12%, rgba(63,151,245,1) 63%, rgba(63,151,245,1) 85%, rgba(63,151,245,1) 85%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(78,226,252,1)), color-stop(12%, rgba(78,226,252,1)), color-stop(63%, rgba(63,151,245,1)), color-stop(85%, rgba(63,151,245,1)), color-stop(85%, rgba(63,151,245,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(78,226,252,1) 0%, rgba(78,226,252,1) 12%, rgba(63,151,245,1) 63%, rgba(63,151,245,1) 85%, rgba(63,151,245,1) 85%);
  background: -o-radial-gradient(center, ellipse cover, rgba(78,226,252,1) 0%, rgba(78,226,252,1) 12%, rgba(63,151,245,1) 63%, rgba(63,151,245,1) 85%, rgba(63,151,245,1) 85%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(78,226,252,1) 0%, rgba(78,226,252,1) 12%, rgba(63,151,245,1) 63%, rgba(63,151,245,1) 85%, rgba(63,151,245,1) 85%);
  background: radial-gradient(ellipse at center, rgba(78,226,252,1) 0%, rgba(78,226,252,1) 12%, rgba(63,151,245,1) 63%, rgba(63,151,245,1) 85%, rgba(63,151,245,1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ee2fc', endColorstr='#3f97f5', GradientType=1 );

}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 10px;
  text-align: center;
}

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: white;
}

.input-full-width {
  width: 100%;
  background-color: white;
  color: black;
}

textarea{
}
