<div style="padding: 20px;">
    <h3>Preguntas Frecuentes:</h3>
    <mat-accordion multi>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>1. ¿Cómo funciona el calendario de pendientes?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En el día seleccionado mostrará la lista de activos y herramientas que deberán ser regresados ese día.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>2. ¿Cómo leo un código QR?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Existen varias aplicaciones para abrir códigos QR para préstamo de activos. <a
                    href="https://play.google.com/store/apps/details?id=tw.mobileapp.qrcode.banner&hl=es_MX"
                    target="_blank">Aquí</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>3. ¿A qué se le conoce como activo?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Es el inventario que tiene registrado la empresa, dividido por categorías.</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>4. ¿A qué se le conoce como herramienta?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Herramienta es aquél accesorio que acompaña al activo. Puede existir o no.</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   <b>5. ¿Cómo generar un QR para entrada/salida de activo?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Se generan automáticamente al registrar activos en el sistema de inventario.</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b> 6. ¿Cómo registrar un activo?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En la siguiente <a href="#">liga</a>.</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>7. ¿Qué es Wilder?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Es un sistema orientado a la gestión de activos para la empresa que tienes, orientado a generar reportes
                que sean útiles al momento de llenar licitaciones</p>
        </mat-expansion-panel>
        <mat-expansion-panel style="width: 100%;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   <b>8. ¿Cómo registrar a un usuario?</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En la siguiente <a href="#">liga</a>.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>