<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
</head>
<body>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
    
    <!--Tarjeta-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LOGITECH</mat-card-title>
          <mat-card-subtitle>G203</mat-card-subtitle>
          <!--<button class="button" mat-raised-button (click)="openBottomSheet()">Open</button>-->
          <!--<button mat-button (click)="openDialog()">Open dialog</button>-->
          <button class="button" mat-button [routerLink]="['/activo']">Abrir</button>
        </mat-card-header>
    </mat-card>
    
    <!--Tarjeta-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LOGITECH</mat-card-title>
          <mat-card-subtitle>G203</mat-card-subtitle>
          <button class="button" mat-button [routerLink]="['/activo']">Abrir</button>
        </mat-card-header>
    </mat-card>
    
    <!--Tarjeta-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LOGITECH</mat-card-title>
          <mat-card-subtitle>G203</mat-card-subtitle>
          <button class="button" mat-button [routerLink]="['/activo']">Abrir</button>
        </mat-card-header>
    </mat-card>
    
    <!--Tarjeta-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LOGITECH</mat-card-title>
          <mat-card-subtitle>G203</mat-card-subtitle>
          <button class="button" mat-button [routerLink]="['/activo']">Abrir</button>
        </mat-card-header>
    </mat-card>
    
    <!--Tarjeta-->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LOGITECH</mat-card-title>
          <mat-card-subtitle>G203</mat-card-subtitle>
          <button class="button" mat-button [routerLink]="['/activo']">Abrir</button>
        </mat-card-header>
    </mat-card>
</body>
</html>