<mat-toolbar color="primary">
  <span>Wilder</span>&nbsp;&nbsp;&nbsp;
  <button mat-button [routerLink]="['/']">Inicio</button>
  <button mat-button [routerLink]="['/']">Usuarios</button>
  <button mat-button [routerLink]="['/inventario']">Inventario</button>
  <button mat-button [routerLink]="['/about']">Acerca De</button>
  <button mat-button [routerLink]="['/asked']">Preguntas Frecuentes</button>
  <button mat-button [routerLink]="['/contact']">Contacto</button>
</mat-toolbar>
<router-outlet></router-outlet>